.inventory{
	text-align: center;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	h3{
		font-size: 1.5em;
	}

	p{
		margin-bottom: 20px;

		.lvl-number{
			color: #a200ff;
		}
	}

	.inventory-grid{
		display: grid;
		gap: 10px;
		grid-template-columns: auto auto auto;
		justify-content: center;
		align-items: center;
	}
}