.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #00000050;
	z-index: 10;

	.popup {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: white;
		width: 310px;
		padding: 30px 20px;

		&__img {
			height: 140px;
			margin-bottom: 10px;
		}

		p {
			img {
				height: 20px;
			}
		}

		h2 {
			font-size: 1.3em;
			margin-bottom: 10px;
		}

		&__block-container {
			margin: 10px 0px 30px;
			display: flex;
			width: 100%;
			height: 50px;
			gap: 10px;


			.popup__block-panel {
				padding: 30px;
				background-color: #f3f3f3;
				width: 50%;
				display: flex;
				justify-content: center;
				align-items: center;

				img {
					height: 40px;
					margin-right: 10px;
				}

				.beer{
					height: 50px;
					margin-right: 0px;
				}

				p {
					font-size: 1.8em;
				}
			}
		}
	}

	.tfy-msg{
		background-color: white;
		margin-top: 20px;
		width: 310px;
		padding: 10px 10px;

		p{
			text-align: center;

			a{
				color: blue;
			}
		}
	}

	.close{
		position: absolute;
		top: 10px;
		right: 10px;
		background-color: red;
		color: white;
		width: 25px;
		height: 25px;
		box-shadow: 2px 2px 0px #00000040;
		cursor: pointer;
	}
}