.power-bar {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
	padding: 5px 5px 3px;
	border-radius: 5px;
	border: solid 2px #f2f2f2;

	.bolt {
		height: 35px;
	}
}
